layout.post-grid {
    margin-block: 1rem;

    a {
        transition: 0.3s all ease;
    }
    &:has(post-tile[focus]) {
        post-tile:not([focus]) {
            a {
                opacity: 0.5;
            }
        }
        post-tile:hover {
            a {
                opacity: 1;
            }
        }
    }
}