@import '/src/component/PostGrid/$PostGrid';
@import '/src/component/PostTile/$PostTile';
@import '/src/component/Searchbar/$Searchbar';
@import '/src/component/IconButton/$IconButton';
@import '/src/route/post/$post_route';

:root {
    --background-color: #1e1e2c;
    --background-color-lighter: #3b3b66;
    --background-color-light: #24243b;
    --primary-color: #d1d1ee;
    --primary-color-dark: #9696b3;
    --primary-color-darker: #72728d;
    --secondary-color: #aeaeec;
    --secondary-color-dark: #424268;

    --nav-height: 50px;
}
html {
    overflow-x: hidden;
    font-size: 14px;

    ::-webkit-scrollbar {
        background-color: var(--background-color);
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #aeaeec;
        border-radius: 2px;
    }
}
body {
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin: 0;
    font-family: Microsoft Yahei;
}

nav {
    display: flex;
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: color-mix(in srgb, var(--background-color) 70%, transparent);
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    box-sizing: border-box;
    backdrop-filter: blur(3px);

    a.title {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        text-decoration: none;
        .booru-name {
            color: var(--secondary-color);
            margin: 0;
        }

        .app {
            display: flex;
            align-items: center;
            border-radius: 0.4rem;
            // border: 1px solid var(--secondary-color);
            // padding: 0.2rem 0.4rem;
            margin: 0;
            gap: 0.4rem;
            .version {
                color: var(--background-color);
                background-color: var(--secondary-color);
                padding: 0.2em 0.4em;
                border-radius: 0.4rem;
                font-size: 0.8rem;
                font-weight: bold;
            }
            .app-name {
                display: none;
                font-size: 1rem;
                color: var(--secondary-color);
            }
        }
    }
    div.searchbar {
        padding: 0.4rem 10%;
        max-width: 500px;
        background-color: color-mix(in srgb, var(--background-color-light) 30%, transparent);
        border: 1px solid var(--primary-color-darker);
        border-radius: 0.4rem;
        color: var(--primary-color-dark);
        transition: 0.3s all ease;
        cursor: pointer;
        &:hover {
            color: var(--primary-color);
        }
    }
    div.buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        ion-icon {
            // background-color: var(--background-color);
            transition: all 0.3s ease;
            border-radius: 1rem;
            padding: 0.4rem;
            &:hover {
                background-color: color-mix(in srgb, var(--background-color-lighter) 50%, transparent);
            }
        }
        ion-icon.search {
            display: none;
        }
    }

    @media (max-width: 800px) {
        div.searchbar {
            display: none;
        }
        div.buttons ion-icon.search {
            display: inline-block;
        }
    }
}

router {
    display: block;
    position: relative;

    route {
        display: block;
        position: relative;
        padding-inline: 10px;
        padding-top: var(--nav-height);
    }
}

button {
    background-color: var(--secondary-color-dark);
    color: var(--secondary-color);
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

ion-icon {
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
    
    &:hover {
        color: var(--secondary-color);
    }
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}