route#login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    .login-container {
        padding: 2rem;
        border: 1px solid var(--secondary-color-9);
        border-radius: var(--border-radius-large);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;

        h1 {
            margin: 0;
        }
        .input-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            input {
                display: block;
            }
        }
    }
}