post-tile {
    display: block;
    transition: 0.3s all ease;
    position: relative;
    transition: all 0.3s ease;
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.02);
            z-index: 1;
            box-shadow: 0 0 10px color-mix(in srgb, var(--secondary-color-1) 50%, transparent)
        }
    }

    &.loading {
        transition: none;
    }

    &:active {
        transform: scale(0.95);
    }
    div.video-detail, div.gif-detail {
        position: absolute;
        background-color: var(--secondary-color-3);//color-mix(in srgb, var(--secondary-color-3) 80%, transparent);
        color: var(--primary-color);
        bottom: 0.3rem;
        right: 0.3rem;
        padding: 0.2em 0.4em;
        height: 1rem;
        border-radius: var(--border-radius-small);
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 0.2rem;
        z-index: 2;
        // text-shadow: 0 0 0.5em var(--secondary-color-1);

        ion-icon {
            font-size: 1.4rem;

            &[name="images-outline"] {
                padding: 0.1rem;
                font-size: 1rem;
            }
        }

        span.duration {
            text-transform: uppercase;
            z-index: 2;
        }
    }

    a {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        img {
            height: 100%;
            width: 100%;
            vertical-align: top;
            background-color: var(--secondary-color-1);
        }
        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 1;
        }
    }
}