button.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.8rem 1.2rem;
    ion-icon {
        font-size: 1.4rem;
        color: inherit;
    }

    &.vertical {
        flex-direction: column;
    }
}