detail-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    --padding: 1rem;
    position: fixed;
    top: calc(var(--nav-height) + var(--padding));
    right: var(--padding);
    width: 300px;
    height: calc(100dvh - 2rem - var(--nav-height));
    // transition: all 0.3s ease;
    background-color: var(--secondary-color-1);

    @media (max-width: 800px) {
        position: static;
        width: 100%;
        overflow: visible;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    span.no-content {
        color: var(--secondary-color-3);
        font-size: 1.6rem;
        font-weight: 900;
    }

    div.preview {
        overflow: hidden;
        border-radius: var(--border-radius-large);
        height: 300px;
        width: 300px;
        background-color: var(--secondary-color-0);
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    div.detail {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        overflow: scroll;
        overflow-x: hidden;
        border-radius: var(--border-radius-large);
        height: 100%;
        width: 100%;

        &::-webkit-scrollbar {
            background-color: #000000;
            width: 0px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #aeaeec;
        }
    }


    h3 {
        padding-left: 1rem;
        margin-block: 0.6rem;
    }
    .post-info {
        background-color: #2f2f45;
        border-radius: var(--border-radius-large);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            margin-top: 1rem;
        }
    }

    div.property {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        width: 100%;
        span.property-name {
            flex-shrink: 0;
        }
        div.property-values {
            display: flex;
            gap: 0.4rem;
            width: 100%;
            overflow: hidden;
            span.property-value {
                padding: 0.2rem 0.4rem;
                background-color: var(--secondary-color-1);
                color: var(--primary-color-dark);
                border-radius: var(--border-radius-small);
                justify-content: space-between;
                flex-shrink: 1;
                display: flex;
                align-items: center;
                overflow: hidden;

                &:has(ion-icon) {
                    flex-shrink: 0;
                }

                * {
                    display: block;
                    overflow: hidden;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    flex-shrink: 1;
                }

                ion-icon {
                    font-size: 1rem;
                    padding: 4px;
                    box-sizing: border-box;
                }
            }
        }
    }
    div.inline {
        display: flex;
        gap: 1rem;
    }
    div.post-tags {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        div.tag {
            align-items: center;
            a.tag-name {
                word-break: break-word;
                text-decoration: none;
            }
            span.tag-post-count {
                background-color: var(--secondary-color-3);
                color: var(--secondary-color-8);
                padding: 0px 4px;
                border-radius: var(--border-radius-small);
                font-size: 12px;
                margin-left: 0.4rem;
            }
        }

        section.tag-name-only {
            display: flex;
            flex-wrap: wrap;
            column-gap: 0.5rem;
            a.tag {
    
            }
        }
    }
}