drawer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 300;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: end;
    align-items: center;
    padding: 1rem;

    div.drawer-container {
        width: 300px;
        max-width: 70%;
        height: 100%;
        background-color: var(--secondary-color-1);
        border-radius: var(--border-radius-large);
        z-index: 1;
        overflow: hidden;

        div.user-info {
            background-color: var(--secondary-color-2);
            padding: 2rem;

            .username {
                margin: 0;
                color: var(--secondary-color-9);
                cursor: pointer;
            }

            div.user-detail {
                display: flex;
                gap: 0.5rem;
                margin-top: 0.2rem;
                span {
                    font-size: 0.8rem;
                    color: var(--primary-color-dark);
                    display: block;
                    cursor: pointer;
                }
            }
            
            div.user-nav {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
                margin-top: 1rem;
            }
        }

        div.nav {
            padding: 2rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            button.icon {
                justify-content: start;
            }
        }
    }

    div.filter {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, 
            color-mix(in srgb, var(--secondary-color-1) 50%, transparent) 0%, 
            color-mix(in srgb, var(--secondary-color-0) 70%, transparent) 100%
        );
    }
}