#post {
    padding: 0;
    padding-top: var(--nav-height);

    slide-viewer {
        display: block;
        height: calc(100dvh - 2rem - var(--nav-height));
        background-color: #000000;
        border-radius: var(--border-radius-large);
        overflow: hidden;
        width: calc(100vw - 300px - 4rem);
        margin: 1rem;
        position: relative;
        transition: all 0.3s ease;
        touch-action: pan-y;
        
        @media (max-width: 800px) {
            width: 100%;
            height: calc(100dvh - var(--nav-height));
            border-radius: 0;
            margin:0;
        }
    }

    div.viewer {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        border-radius: var(--border-radius-large);
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            transition: all 0.3s ease;

            &.loading {
                filter: blur(5px);
            }
        }

        video {
            max-width: 100%;
            max-height: 100%;
            -webkit-user-drag: none;
            transition: all 0.3s ease;
        }

        div.viewer-panel {
            position: absolute;
            bottom: 0;
            width: 100%;
            z-index: 1;

            div.panel {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding: 1rem;
                gap: 1rem;
                box-sizing: border-box;

                video-controller {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                    width: 100%;

                    div.video-details {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;

                        div {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }
                    }
                    div.progressbar-container {
                        height: 2rem;
                        width: 100%;
                        display: flex;
                        touch-action: none;
                        align-items: center;
                        cursor: pointer;

                        div.progressbar {
                            height: 0.4rem;
                            width: 100%;
                            background-color: var(--secondary-color-1);
                            flex-shrink: 1;
    
                            div.progress {
                                height: 100%;
                                background-color: var(--secondary-color-3);
                                width: 100px;
                            }
                        }
                    }

                    .play {
                        flex-shrink: 0;
                    }
                }

                div.buttons {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                }
            }

            div.overlay {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 200%;
                z-index: -1;
                background: linear-gradient(180deg, 
                    color-mix(in srgb, var(--secondary-color-1) 0%, transparent) 0%, 
                    color-mix(in srgb, var(--secondary-color-0) 70%, transparent) 100%
                );
            }
        }
    }

    div.content {
        width: calc(100vw - 300px - 2rem);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;

        @media (max-width: 800px) {
            width: 100%;
        }

        &::-webkit-scrollbar {
            background-color: #000000;
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #aeaeec;
            border-radius: 2px;
        }

        & > h3 {
            padding-left: 1rem;
            margin-block: 1rem;
        }

        section.commentary {
            * {
                text-wrap: wrap;
                word-break: break-word;
            }
        }
    }
}

// animated resolver
// .animated div.sidebar {
//     top: 0 !important;
// }