#post {
    padding: 0;
    padding-top: var(--nav-height);
    section {
        background-color: #2f2f45;
        border-radius: 20px;
        padding: 20px;
    }

    div.viewer {
        height: calc(100vh - 2rem - var(--nav-height));
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        border-radius: 20px;
        overflow: hidden;
        width: calc(100vw - 300px - 4rem);
        margin: 1rem;
        
        @media (max-width: 800px) {
            width: 100%;
            height: calc(100vh - var(--nav-height));
            border-radius: 0;
            margin:0;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            // transition: all 0.3s ease;
        }

        video {
            max-width: 100%;
            max-height: 100%;
            -webkit-user-drag: none;
            transition: all 0.3s ease;
        }
    }

    div.content {
        width: calc(100vw - 300px - 2rem);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;

        @media (max-width: 800px) {
            width: 100%;
        }

        &::-webkit-scrollbar {
            background-color: #000000;
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #aeaeec;
            border-radius: 2px;
        }

        & > h3 {
            padding-left: 1rem;
            margin-block: 1rem;
        }

        section.commentary {
            * {
                text-wrap: wrap;
                word-break: break-word;
            }
        }
    }

    div.sidebar {
        --padding: 1rem;
        position: fixed;
        top: calc(var(--nav-height) + var(--padding));
        right: var(--padding);
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 300px;
        overflow: scroll;
        overflow-x: hidden;
        height: calc(100vh - 2rem - var(--nav-height));
        border-radius: 20px;

        @media (max-width: 800px) {
            position: static;
            width: 100%;
            overflow: visible;
            height: 100%;
            padding: 1rem;
            box-sizing: border-box;
        }

        &::-webkit-scrollbar {
            background-color: #000000;
            width: 0px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #aeaeec;
        }

        h3 {
            padding-left: 1rem;
            margin-block: 0.6rem;
        }
        .post-info {
            background-color: #2f2f45;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            .buttons {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
                margin-top: 1rem;
            }
        }

        div.property {
            display: flex;
            gap: 0.6rem;
            align-items: center;
            width: 100%;
            span.property-name {
                flex-shrink: 0;
            }
            div.property-values {
                display: flex;
                gap: 0.4rem;
                overflow: hidden;
                span.property-value {
                    background-color: var(--secondary-color-dark);
                    color: var(--secondary-color);
                    padding: 2px 4px;
                    border-radius: 4px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-wrap: nowrap;
                }
            }
        }
        div.inline {
            display: flex;
            gap: 1rem;
        }
        div.post-tags {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            div.tag {
                align-items: center;
                a.tag-name {
                    word-break: break-word;
                    color: #d1d1ee;
                    text-decoration: none;
                }
                span.tag-post-count {
                    background-color: var(--secondary-color-dark);
                    color: var(--secondary-color);
                    padding: 0px 4px;
                    border-radius: 4px;
                    font-size: 12px;
                    margin-left: 0.4rem;
                }
            }
        }
    }
}

// animated resolver
// .animated div.sidebar {
//     top: 0 !important;
// }